.leftbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 20vw;
    padding-left: 2vw;
}
.leftbar-style {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e5c5c91;
    border-radius: 12px;
    list-style: none;
    padding: 1vw 0;
}

.container-navigation-left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.column img {
    width: 6vw;
    z-index: 1;
    padding: 0 15px;
}
@media only screen and (max-width: 1000px) {
    .column img {
        width: 8vw;
    }
}

@media only screen and (max-width: 800px) {
    .leftbar {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 65vw;
    }
    .leftbar-style {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 12px;
    }
    .column img {
        width: 12VW;
    }
}

@media only screen and (max-width: 650px) {
    .column img {
        width: 20VW;
    }
}
@media only screen and (max-width: 500px) {

}