#nosotros {
    display: flex;
    flex-direction: column;
}

.container-section-nosotros {
    text-align: center;
    align-items: center;
    padding-top: 250px;
    margin: -100px 0;
}

.container-nosotros-title h4 {
    font-size: 40px;
    font-weight: bold;
}

.container-nosotros-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 2%;
    padding: 5%;
    background: #FFFFFF;
    box-shadow: -12px 15px 35px -4px #afafafc0;
    border-radius: 40px;
}
.container-nosotros-border-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* height: 100%; */
    margin: 2%;
    padding: 5%;
    background: var(--color-1);
    box-shadow: -12px 15px 35px -4px #afafafc0;
    border-radius: 40px;
    color: #fff;
}

.container-nosotros-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.nosotros-1-duenios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.nosotros-1-duenios img {
    display: flex;
    justify-content: center;
    max-width: 80%;
}

.nosotros-1-detalles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.nosotros-1-detalles-subtitulo {
    margin-top: 2%;
    font-size: 25px;
}

.nosotros-1-detalles span {
    margin-top: 10%;
    width: 80%;
    font-size: 20px;
}

.container-nosotros-conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.buttom-conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: #046AAC;
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 3px 4px 7px 1px rgba(0, 0, 0, 0.15);
}

.buttom-conocenos:hover {
    box-shadow: 3px 4px 7px 5px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1000px) {
    #section-nosotros {
       /*  padding-top: 300px; */
    }

    .container-nosotros-border {
        margin: 0 5%;
        border: 1px solid #046AAC69;
    }
    .container-nosotros-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding: 0 0;
        margin-top: 0;
        margin-left: 0;
    }
    .nosotros-1-duenios {
        display: flex;
        justify-content: center;
        width: 100%;
        top: 0;
    }
    .nosotros-1-duenios img {
        display: flex;
        max-width: 80%;
    }
    .nosotros-1-detalles {
        justify-content: flex-start;
        width: 100%;
    }

    .container-nosotros-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        /* margin: 20px 0; */
    }
    .nosotros-2-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .nosotros-2-items-1, .nosotros-2-items-2, .nosotros-2-items-3 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .nosotros-2-items-1-detalle,.nosotros-2-items-2-detalle, .nosotros-2-items-3-detalle {
        width: 90%;
        padding-right: 0;
    }
    .nosotros-2-staff {
        display: none;
    }
    .container-nosotros-conocenos {
        /* display: none; */
    }
}


@media only screen and (max-width: 750px) {
}
@media only screen and (max-width: 500px) {
    .container-nosotros-title h4 {
        margin-bottom: 10px;
    }
}


.lista-1 {
    font-weight: 500;
    padding-left: 0 !important;
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.linea-1 {
    list-style: none;
    text-align: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* height: 3vw; */
    /* width: 50%; */
    padding: 20px;
    margin: 2%;
    text-align: center;
    background-color: var(--color-2-2);
    /* border: solid var(--color-2) 1px; */
    margin-bottom: -1px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.12);
}

.linea-1 ion-icon, .linea-2 ion-icon {
    margin-right: 5px;
}