.section-como-funciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 150px;
    height: 100%;
}

.container-como-funciona-title h4 {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
}

.section-como-funciona-titulo h2 {
    font-weight: 700;
}

.titulo-como-funciona-1 {
    background: var(--gris-2);
    width: 75%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-1);
}
.titulo-como-funciona-2 {
    background: var(--gris-2);
    width: 75%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-1);
    margin-top: 5%;
}
.titulo-como-funciona-3 {
    background: var(--gris-2);
    width: 75%;
    text-align: center;
    padding: 1% 0;
    color: var(--azul-1);
    margin-top: 5%;
}

.servicios-container-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 10%;
}
.servicios-container-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.servicios-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.servicios-container-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container-como-funciona-1, .container-como-funciona-2, .container-como-funciona-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 300px;
}

.container-como-funciona-1 {
    background-color: var(--azul-4-1);
}
.container-como-funciona-2 {
    background-color: var(--gris-2-1);
}
.container-como-funciona-3 {
    background-color: var(--azul-2-1);
}

.servicio-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;

    background-color: var(--azul-4);
}

.servicio-1 img {
    width: 80%;
    cursor: pointer;
}
.servicio-1:hover img {
    visibility: hidden;
    display: none;
}

.descripcion-1, .descripcion-2, .descripcion-3 {
    visibility: hidden;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 90%;
    height: 90%;

    border: solid black 1px;
}
.servicio-1:hover .descripcion-1 {
    visibility: visible;
    display: flex;
}
.servicio-2:hover .descripcion-2 {
    visibility: visible;
    display: flex;
}
.servicio-3:hover .descripcion-3 {
    visibility: visible;
    display: flex;
}

.servicio-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;

    background-color: var(--gris-2);
}
.servicio-2 img {
    width: 80%;
    cursor: pointer;
}
.servicio-2:hover img {
    visibility: hidden;
    display: none;
}

.servicio-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 95%;

    background-color: var(--azul-2);
}
.servicio-3 img {
    width: 80%;
    cursor: pointer;
}
.servicio-3:hover img {
    visibility: hidden;
    display: none;
}

@media (max-width: 1200px) {
    .servicios-container {
        flex-wrap: wrap;
    }
}