.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login{
    width: 40%;
    background-color: white;
    padding: 24px 24px;
    border-radius: 10px;
}
@media only screen and (max-width: 1540px) {
    .container-login{
        width: 50%;
    }   
}
@media only screen and (max-width: 1440px) {
    .container-login{
        width: 70%;
    }   
}

@media only screen and (max-width: 1240px) {
    .container-login{
        width: 80%;
    }   
}

@media only screen and (max-width: 1024px){
    .container-login{
        width: 92%;
    }   
}

.container-logo{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 1rem 0;
}

.container-logo .logo--container-img img{
    width: 3rem;
    height: 3rem;
}
    
.logo--container-text{
    display: flex;
}

.logo--container-text p{
    margin: auto;
    font-size: 1.4rem;
}

.logo--container-text p:first-child{
    font-weight: bold;
}


    


.grupo-form{
    padding: 10px 0;
}
.label{
    color: #00b1ff;
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(168, 168, 168);
    border-radius: 0;
}

.input:focus{
    border-bottom: 1px solid  #00b1ff;
}

.button-iniciar{
    margin-top: 2rem;
    width: 100%;
    height:40px;
    background-color: #00b1ff;
    border: none;
    transition: .4s;
    border: 1px solid #00b1ff;
}

.button-iniciar:hover{
    margin-top: 2rem;
    width: 100%;
    background-color: transparent;
    color: #00b1ff;
    border: 1px solid #00b1ff;
}

.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    margin: .6rem 0;
    gap: 20px;
    border: 1px solid rgb(164, 162, 162);
    border-radius: 8px;
    padding:  4px 10px;
    cursor: pointer;
}
.google-icon-wrapper svg{
    height: 20px;
}

.google-btn .btn-text{
    margin: auto 0;
}
.separador{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin: 1.2rem 0;
}

.separador span {
    color: gray;
    font-size: .9rem;
    text-align: center;
}

.linea{
    height: 1px;
    background-color: rgb(199, 199, 199);
    width: 25%;
}

.button-crear{
    width: 100%;
    background-color: transparent;
    color: #00b1ff;
    margin-bottom: 1rem;
    border: 1px solid #00b1ff;
    transition: .4s;
}

.button-crear:hover{
    background-color: #00b1ff;
    border: 1px solid #00b1ff;
}
